

#main--body {
	width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

#main--body--left {
	width: 220px;
	height: 30%;
	border: 1px solid black;
	border-radius: 20px;
	padding: 15px;
	border: 1px solid black;
}

#main--body--right {
	width: 730px;
}

#main--left--title {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#main--left--title>h3 {
	color: rgb(0, 0, 0, 0.5);
}

#body--setting--img {
	width: 30px;
	height: 30px;
}

#body--right--top {
	display: flex;
	justify-content: space-between;
	margin-right: 15px;
	margin-left: 15px;
}

#body--right--title {
	display: flex;
}

#body--right--title h3 {
	margin-right: 5px;
}

#main--right--img {
	width: 30px;
	height: 30px;
}

#main--board {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}

.main--board--items {
	width: 160px;
}

.main--board--items img {
	width: 160px;
	height: 160px;
}

.main--board--items div {
	margin: 10px;
	margin-bottom: 35px;
}

.main--board--items span {
	margin: 10px;
	font-size: 15px;
	color: rgb(0, 0, 0, 0.5);
}